<h2>New Country</h2>

<form action="/countries" method="post">
<label>Country Name:</label>
<input type="text" name="name" placeholder="Country name" required autofocus>
<label>Picture or Flag:</label>
<input type="url" name="image" placeholder="http://...">
<button>Create</button>
</form>
