<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Beautiful Cities</title>
  <link rel="stylesheet" href="/css/master.css">
</head>
<body>
  <div class="container">
    <nav>
      <a href="/">Home</a>
      <a href="/cities">All Cities</a>
      <a href="/cities/new">New City</a>
      |
      <a href="/countries">All Countries</a>
      <a href="/countries/new">New Country</a>
    </nav>
    <h1>World tour destinations</h1>
    <%= yield %>
  </div>
</body>
</html>
