<h1>Guess the lucky number between 1 - 10</h1>


<form action="/lucky/response">
<button name="choice" value="1">1</button>
<button name="choice" value="2">2</button>
<button name="choice" value="3">3</button>
<button name="choice" value="4">4</button>
<button name="choice" value="5">5</button>
<button name="choice" value="6">6</button>
<button name="choice" value="7">7</button>
<button name="choice" value="8">8</button>
<button name="choice" value="9">9</button>
<button name="choice" value="10">10</button>
</form>
